<div class="forgotPassword-section">
    <div class="forgotPassword-section-container">

        <div class="forgotPassword-section-container-header">
            <h1 class="forgotPassword-section-container-header-title">Reset password</h1>
        </div>

        <div class="forgotPassword-section-container-emailSection">
            <p class="forgotPassword-section-container-emailSection-emailTitle">Enter your Email:</p>
            <mat-form-field class="forgotPassword-section-container-emailSection-emailField" appearance="outline">
                <input class="forgotPassword-section-container-emailSection-emailField-emailInput" type="email" #userEmail matInput [(ngModel)]="email" placeholder="Enter your email" required>
            </mat-form-field>
        </div>

        <p class="forgotPassword-section-container-instrutionText"><i>A reset-password email will be sent to your email address</i></p>

        <button class="forgotPassword-section-container-button" mat-raised-button color="primary">Send</button>

    </div>
</div>
