.forgotPassword-section-container-button 
{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: rgb(0, 91, 130) !important;
}

.forgotPassword-section-container-emailSection-emailTitle
{
    color: black;
    margin-bottom: 2px;
}

.forgotPassword-section-container-emailSection-emailField
{
    width: 100%;
}

.forgotPassword-section-container-emailSection-emailField mat-error
{
    color: rgb(20, 19, 19);
    font-size: 10px;
    margin-top: -1%;
    margin-left: -2%;
}

.forgotPassword-section-container-emailSection-emailField-emailInput
{
    color: black !important;
}

/* Web-based */
@media (min-width: 500px)
{
    .forgotPassword-section 
    {
        position: relative;
        height: 100%;
        width: 100%;
    
        background-image: url("src\assets\images\cyan_background.jpg");
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .forgotPassword-section-container
    {
        position: absolute;
        width: 20%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 4%;
        padding-left: 5%;
        padding-right: 5%;

        background-color: rgb(202, 235, 244);
        border-radius: 5%;
        border: 0px solid;

        filter: drop-shadow(10px 20px 50px var(--shadow-color));
        --shadow-color: hsla(185, 100%, 18%, 0.9);
    }

    .forgotPassword-section-container-header-title 
    {
        margin-bottom: 10%;

        color: rgb(43, 0, 66);
        font-size: 2.5vw;
        font-weight: bolder;

        text-align: center;
    }

    .forgotPassword-section-container-instrutionText
    {
        margin-top: -4%;
        text-align: center;
        color: rgb(92, 15, 164);
    }
}